.active-timer {
  padding: 1rem;

  h2 {
    display: inline-block;
    margin: .1rem;
  }

  .hours::after {
    content: 'h';
  }

  .minutes::after {
    content: 'm';
  }

  .seconds::after {
    content: 's';
  }
}
