.active-timer-container {
  border: .1rem solid $color-primary-1-opaque;
  width: 90%;
  margin: .5rem auto;
  background-image: url("../assets/images/asanoha-400px_light.png");
  background-repeat: repeat;

  .minimize {
    background: $color-primary-1-opaque;
  }

  .mobility-calculator {
    box-sizing: border-box;

    .time-value {
      @include font-main(1.25rem);
      background: white;
      border: 0.1rem solid $color-primary-2;
      margin: 0.25rem;
    }

    .submit {
      border: none;
      color: $color-primary-4;
      background-color: $color-complement-2;
      margin-top: 1rem;
      @include font-main(1.25rem);
    }
  }

  .active-timer {
    padding: 1rem;
    position: relative;
    // background-image: url("../assets/images/swirl.png");
    // background-image: url("../assets/images/asanoha-400px_light.png");
    // background-repeat: repeat;
    @include clearfix;

    .timer-name {
      color: $color-primary-1;
      font-size: 1.5rem;
      padding: 0;
      margin: 0.2rem;
    }

    h2 {
      height: 100%;
      font-size: 2rem;
      display: inline-block;
      // background: $color-primary-1;
      box-sizing: border-box;
      margin: .1rem;
      padding: .6rem;
      border-radius: .5rem;
      background-image: linear-gradient(180deg, $color-primary-1 50%, $color-secondary-2-1 50%);
    }

    .hours::after {
      content: 'h';
      color: $color-secondary-2-3;
    }

    .minutes::after {
      content: 'm';
      color: $color-secondary-2-3;

    }

    .seconds::after {
      content: 's';
      color: $color-secondary-2-3;
    }

    .note {
      width: 70%;
      margin: 1rem auto;
    }

    .action-button {
      border: none;
      background: none;
      margin: 0.5rem;

      &:hover {
        background: transparentize($color-primary-2, 0.5);
      }
    }
  }
}

.timer-buttons {
  button {
    box-sizing: border-box;
    margin: 0.5rem auto;
  }
}

@media (min-width: 500px) {
  .active-timer {
    h1 {
      display: inline-block;
      font-size: 2rem;
      margin: 1rem;
    }
  }
}

@media (min-width: 800px) {
  .active-timer-container {
    width: 75%;
  }
}
