// Colors

$color-primary-0: #5772A1;	// Main Primary color */
$color-primary-1: #E0E6F1;
$color-primary-2: #96A9CB;
$color-primary-3: #304F84;
$color-primary-4: #133164;

$color-secondary-1-0: #6A5DA8;	// Main Secondary color (1) */
$color-secondary-1-1: #E5E2F2;
$color-secondary-1-2: #A49AD0;
$color-secondary-1-3: #45358A;
$color-secondary-1-4: #251768;

$color-secondary-2-0: #4B998E;	// Main Secondary color (2) */
$color-secondary-2-1: #DDEFED;
$color-secondary-2-2: #8CC6BE;
$color-secondary-2-3: #267D71;
$color-secondary-2-4: #0A5F53;

$color-complement-0: #F3C777;	// Main Complement color */
$color-complement-1: #FFF8EC;
$color-complement-2: #FFE4B5;
$color-complement-3: #C7963C;
$color-complement-4: #976710;

@mixin font-main($font-size) {
  font-family: 'Asap', sans-serif;
  font-size: $font-size;
}
